
   <div class="comment clearfix">
	<div class="comment_content">
		<p class="comment_name"><strong><%= comment.title %></strong></p>
		<p class="comment_body"><%= comment.body %></p>
		<% if  comment.body != nil %>
		<p>created <%= time_ago_in_words(comment.created_at|| Time.now) %> Ago</p>
	</div>
	
	 <p>commented by: <span class="email_color"> <%= comment.user.email %></span> and created at <%= time_ago_in_words(comment.created_at|| Time.now) %> Ago</p>
	
	<% if comment.user_id == current_user.id %>
	<p> <%= link_to "Destroy comment", [comment.post, comment], class: :button, color: :blue, method: :delete, data:{confirm: 'Are you sure?'} %> </p> 
	<% end %>
	<% end %>
   


</div> 