<div class="post_wrapper">
<h2><%= @post.title %></h2>
<p><%= @post.body %></p>
 <p> <%= link_to 'Edit', edit_post_path(@post) %>| <%= link_to 'Delete',  @post, method: :delete, data:{confirm: 'Are you sure'} %></p>
<p class="date">submited <%= time_ago_in_words(@post.created_at) %> ago.</p>
</div>